.cartao{
    max-width: 300px;
    border: 3px solid orangered;
    padding: 10px;
}

.body{
    overflow-y: auto;
    max-height: 300px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: 3px solid orangered;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    display: block;
    margin: auto;
}