<!-- <cartao imagem="https://picsum.photos/200"></cartao> -->

<!-- <cartao tituloCartao="Beba água" textoCartao="lorem"></cartao>
<cartao tituloCartao="Outra mensagem"></cartao> -->
<!-- 
<cartao imagem="https://picsum.photos/300" tituloCartao="Anuncio" textoCartao="Lorem picsum" corDaBorda="#005903" (deletarCartao)="deletar($event)" [style]="estiloDoCartao"></cartao> -->

<!-- <cartao imagem="https://picsum.photos/200"></cartao> -->

<div class="container">
    <!-- <input type="text" #inputTexto (input)="inputTexto">
    <p>
        {{inputTexto.value}}
    </p>

    <cartao imagem="https://picsum.photos/300" tituloCartao="Anuncio" textoCartao="Lorem picsum" corDaBorda="#005903" (deletarCartao)="deletar($event)" [style]="estiloDoCartao" #cartao1></cartao>
    <p>{{ cartao1.textoCartao }}</p> -->

    <p #para>Olá mundo!</p>
</div>
