@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --corAzul: #002455;
    --corBranca: #ECEFF0;
}

body{
    color: var(--corAzul);
    background-color: var(--corBranca);
}
header{
    display: flex;
    width: 100%;
    min-height: 150px;
    background-color: var(--corAzul);
    justify-content: center;
    align-items: center;
}

header nav ul li {
    display: inline-block;
}
.linkMenu {
    color: var(--corBranca);
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
}
.linkMenu:hover{
    background-color: var(--corBranca);
    color: var(--corAzul);
}

main {
    max-width: 1200px;
    margin: auto;
}

.titulos{
    text-align: center;
    clear: left;
    margin: 20px ;
}

p {
    margin: 5px;
    padding: 10px;
    text-align: justify;
}

.escudos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 80%;
    margin: auto;
}

.imagens {
    width: 100%;
}
.fundoAzul{
    background-color: var(--corAzul);
    padding: 10px;
    padding-bottom: 56.5%;
    position: relative;
}

.fundoAzul > iframe{ 
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


.camisas {
    display: flex;
}

.camisas li {
    display: inline-block;
}

.textoLista{
    text-align: center;
}

.listaTrofeus li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagensTrofeus{
    width: 300px;

}

.botao{
    margin: 20px auto;
}
.botao a {
    color: var(--corBranca);
    background-color: var(--corAzul);
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: auto;
    width: 140px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.botao a:hover{
    transform: scale(1.2);
}

footer{
    background-color: var(--corAzul);
    color: var(--corBranca);
    width: 100%;
    min-height: 150px;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 570px){
    header nav ul {
        display: flex;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
    }
    header nav ul li {
        margin: 10px;
    }
    .escudos{
        flex-wrap: wrap;
    }
    .escudos img{
        width: 50%;
    }

    .camisas {
        flex-direction: column;
    }

    .listaTrofeus li{
        flex-direction: column;
    }
}