<h2>Ng for</h2>
    <!-- <table border="1">
        <tr>
            <th>Escalação Cruzeiro</th>
        </tr>
        <tr *ngFor="let nome of nomes">
            <td>{{nome}}</td>
        </tr>
    </table> -->
    
    <!-- Ng For com condicao -->
    <table border="1">
        <tr>
            <th>Escalação Cruzeiro</th>
        </tr>
        <ng-container *ngFor="let nome of nomes">
            <tr *ngIf="nome.length > 10">
                <td>{{nome}}</td>
            </tr>
        </ng-container>
    </table>

    <input type="text" #nome>
    <button (click)="add(nome.value)">Adicionar</button>