<h2>Ng Style</h2>
<p [ngStyle]="{
  fontFamily: 'Arial',
  color: corDoParagrafo
}">
  Mudar de Cor
</p>

<button (click)="mudarCorDoParagrafo('red')">Mudar para vermelho</button>
<button (click)="mudarCorDoParagrafo('green')">Mudar para verde</button>
<button (click)="mudarCorDoParagrafo('blue')">Mudar para azul</button>
<button (click)="mudarCorDoParagrafo('purple')">Mudar para roxo</button>

<hr>

<app-diretiva-ngclass></app-diretiva-ngclass>

<hr>
<app-diretiva-ngif></app-diretiva-ngif>

<hr>
<app-diretiva-ngfor></app-diretiva-ngfor>

<hr>
<app-diretivas-ngswitch></app-diretivas-ngswitch>

<hr>
<app-cartao titulo="Oferta">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt at aspernatur, totam dolorem, in, animi magni natus iure reprehenderit numquam velit quos? Soluta impedit, aspernatur accusamus quisquam iusto laborum rerum.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus impedit in nobis! Recusandae fugiat ipsam voluptatum accusantium! Tempora ipsum dolorum eligendi inventore sapiente molestias, distinctio voluptate ullam omnis pariatur blanditiis?</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi repellendus similique libero, repudiandae voluptate doloremque laboriosam nisi ex pariatur, quidem excepturi deleniti beatae alias suscipit eligendi corporis qui neque quas.</p>
  
  <img src="https://picsum.photos/200" alt="Imagem aleatoria">

  <ul>
    <li>Texto</li>
    <li>Texto</li>
    <li>Texto</li>
  </ul>
</app-cartao>

<app-cartao titulo="oferta 2">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptas hic quibusdam maiores asperiores consequatur repudiandae laboriosam, nulla, facere sunt doloremque labore odit. Quasi consectetur fuga quibusdam modi velit maxime?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam ab delectus qui rem similique porro, et quae odit minima incidunt sed fugit provident dignissimos, sint nesciunt cupiditate, distinctio voluptas eveniet?</p>
  <img src="https://picsum.photos/200" alt="Imagem aleatoria">
</app-cartao>


<hr>
<h2>Criando diretivas</h2>
<button appBtn background="red">Clique em mim</button>
<button appBtn>Clique</button>