<div class="container">
  <mat-card *ngFor="let produto of produtos">
    <mat-card-header>
      <mat-card-title>{{ produto.nome | uppercase }}</mat-card-title>
      <mat-card-subtitle>{{ produto.descricao | lowercase }}</mat-card-subtitle>
    </mat-card-header>
      <img [src]=produto.foto mat-card-image>
    <mat-card-content>
      <!-- <div>
        {{ pessoa | json}}
      </div> -->
      <p>
        Vendedor: {{produto.proprietarioDoPost}};
      </p>
      <p>
        Item postado no dia {{ produto.dataDeCriacao | date:'dd MMM, yyyy - hh:mm:ss'}};
      </p>
    </mat-card-content>
    <mat-card-footer>
      <p>
        <strong>{{ preco | currency:'BRL' }}</strong>
    </p>
    </mat-card-footer>
  </mat-card>
</div>

{{ "o rato roeu a roupa do rei de roma" | capitalizar}}